
@{
    Layout = "_Layout";
    ViewData["Title"] = "O nama";
}

<!-- ======= Suscribe Section ======= -->
<div class="suscribe-area"  style="margin-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                <div class="suscribe-text text-center">
                    <h3>Dobrodošli na stranicu</h3>
                    <a class="sus-btn" href="~/Login/PrijaviSe">Prijava</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Suscribe Section -->
<!-- ======= About Section ======= -->
<div id="about" class="about-area area-padding" style="margin-bottom:40px;">
    <div class="container">
        @*<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>About eBusiness</h2>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="~/assets/img/bus-gif.gif" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Kvalitete eBus aplikacije</h4>
                        </a>
                        <p>
                            Želimo ti ponuditi besprijekornu vožnju! Jednostavno odaberi svoju omiljenu liniju iz naše široke mreže autobusnih linija.
                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-check"></i> Brza pretraga!
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Uštedite vrijeme i novac!
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Rezervacija sjedišta!
                            </li>
                            <li>
                                <i class="fa fa-check"></i> Intuitivno okruženje
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div><!-- End About Section -->


<div class="row" style="margin:20px 0 20px 0;">
    <div class="col" style="text-align:right">
        <a class="services-icon" href="#">
            <i class="fa fa-check-circle"></i>
        </a>
    </div>
    <div class="col-md-6">
        <p style="text-align:center; font-size:medium">
            Možemo reći da je ovo prva aplikacija koja obuhvata večinu kompanija na jednom mjestu. Polazište, odredište, sve što vas interesuje možete
            pronaći ovdje. Napravite svoj profil i iskoristite sve pogodnosti koje vam se nude.
        </p>
    </div>
    <div class="col"></div>

</div>

<div class="row" style="margin:30px 0 30px 0;">
    <div class="col" style="text-align:right">
        <a class="services-icon" href="#">
            <i class="fa fa-check-circle"></i>
        </a>
    </div>
    <div class="col-md-6">
        <p style="text-align:center;font-size:medium">
            Naše poslovanje se odvija 365 dana i to je velika prednost našim klijentima. Za Vas osiguravamo samo kvalitet kako bi imali što sigurniju i udobniju vožnju.
        </p>
    </div>
    <div class="col"></div>

</div>

<div class="row" style="margin:30px 0 30px 0;">
    <div class="col" style="text-align:right">
        <a class="services-icon" href="#">
            <i class="fa fa-check-circle"></i>
        </a>
    </div>
    <div class="col-md-6">
        <p style="text-align:center; font-size:medium">
            Unaprijed se zahvaljujemo svim korisnicima uz želju da postanu i ostanu zadovoljan putnik.Svaku primjedbu korisnika, bilo da se odnosi na vozno, uredsko, operativno ili agencijsko osoblje razmatramo posebnom pažnjom i odgovaramo na istu u najkraćem vremenu
        </p>
    </div>
    <div class="col"></div>

</div>

